@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;500;600;700;800;900&display=swap');

.section2{
    display: none;
    flex-direction: column;
    background-color:  #112433;
    color: white;
}

.section-title{
    margin: 0 auto;
    margin-bottom: 12px;
    padding: 30px 0;
    font-size: 3em;
    text-align: center;
    width: 90%;
    border-bottom: 1px solid rgba(165, 165, 165, 0.459);
    font-family: 'Sansita Swashed', cursive;
    /* background-color: rgb(30, 38, 44); */
    color: white;
}

.list-category{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    padding: 25px;
    border-bottom: 1px solid rgba(99, 99, 99, 0.534);
}
.list-category li{
    list-style: none;
    cursor: pointer;
}
.list-category li:hover{
    color: rgb(42, 130, 165);
}




/* ALL JOKES CONTAINER */
.all-container {
    display: flex;
    flex-flow: row wrap;
    padding: 12px;
}

.gen-container, .prog-container, .knock-container{
    display: none;
    flex-flow: row wrap;
    padding: 12px;
}
.recent-container{
    display: none;
    flex-direction: row-reverse;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 12px;
}

.joke-div{
    width: 150px;
    padding: 20px;
    margin: 10px;
    border: 2px solid rgba(240, 240, 240, 0.541);
}
.joke-div > p{
  font-size: 25px;
}

.vote-up{
  display: inline-block;
  background-image: url('./imgs/up.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width:25px;
  height:25px;
}
.vote-up:hover{
  cursor: pointer;
}
.vote-down{
  display: inline-block;
  background-image: url('./imgs/down.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width:25px;
  height:25px;
}
.vote-down:hover{
  cursor: pointer;
}
