
main{
    position: relative;
}

/* alligning the rest to match the nav format */
.homepage{
    margin-left: 120px;
}
.form{
    margin-left:120px;
}
.section2{
    margin-left: 120px;
}

nav{
    background-color: blue;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 120px;
    display: flex;
    flex-direction: column;
    padding: 12px 0;
}
nav button{
    height: 100px;
    background-color: rgba(222, 184, 135, 0.432);
    cursor: pointer;
    outline: none;
    border: none;
}

.new-joke-button{
    border-top: 1px solid rgba(0, 0, 0, 0.288);
    border-bottom: 1px solid rgba(0, 0, 0, 0.288);
}

