*{
    margin: 0;
    padding: 0;
}


.homepage{
    background-color: aquamarine;
    min-height: 500px;
}
.Section2{
    background-color: bisque;
    min-height: 500px;
}

.form{
    background-color: darkseagreen;
    min-height: 500px;
}